* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ffffff;
    font-family: "Poppins", sans-serif;
    color: #222222;
    overflow-x: hidden;
}

img {
    height: 100%;
    width: 100%;
}

/* ShortCLasses */

.bg-blue {
    background-color: #3c99f0;
}

.bg-black {
    background-color: #222222;
}

.bg-white {
    background-color: #ffffff;
}

.blue {
    color: #3c99f0 !important;
}

.black {
    color: #222222;
}

.white {
    color: #ffffff;
}

.flex {
    display: flex;
}

.item-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.flex-col {
    flex-direction: column;
}

/*  */


nav {
    justify-content: space-around;
    height: 90px;
    border-bottom: 2px solid #222222;
}

nav ul li {
    text-decoration: none;
    font-size: 16px;
    list-style: none;
    margin: 0px 10px;
    border-bottom: 1px solid;
    padding: 5px 4px;
    border-radius: 100px;
    cursor: pointer;
}

nav ul li a {
    text-decoration: none;
    color: #222222;
}

nav ul li a:hover {
    color: #ffffff;
}

nav ul li:hover {
    color: #ffffff;
    background-color: #222222;
    border: none;
    transition: 0.3s ease-in-out;
}

nav ul :nth-child(2) {
    color: #3c99f0 !important;
    border-bottom: 1px solid #3c99f0;
}

nav ul :nth-child(2):hover {
    background-color: #3c99f0;
    color: #ffffff !important;
}


.left {
    font-size: 40px;
    cursor: pointer;
}

.firstSection {
    margin: 24px 20px;
}

.topSection {
    text-align: center;
}

.topSection span {
    font-size: 75px;
    font-weight: 700;
}

.topSection p {
    line-height: 51px;
    width: 100vw;
    font-size: 2.5rem;
}

.bottomSection {
    height: 100%;
    width: 20%;
    margin-top: 30px;

}

.bottomSection img {
    border-radius: 50%;
}

#element {
    font-size: 75px;
}

.secondSection {
    text-align: center;
    height: 500px;
}

.about {
    font-size: 1.5rem;
    width: 80%;
}

.thirdSection {
    margin: 22px;
}

#fend {
    padding: 22px;
}

.wrapper {
    font-size: 4rem;
    padding: 2px 20px;
    border: 4px solid #222222;
    border-radius: 50%;
}

.thirdSection h2 {
    font-size: 2rem;
}

.thirdSection span {
    font-size: 1.3rem;
    text-align: center;
    margin: 8px;
}

#form-details {
    padding: 2.5rem;
}

#form-details form {
    width: 70%;
    align-items: flex-start;
}

#form-details form span {
    font-size: 1.2rem;
}

#form-details form h2 {
    font-size: 2.3rem;
    line-height: 30px;
    padding: 20px 0;
}

#form-details form input,
#form-details form textarea {
    width: 100%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 1rem;
    border: none;
    border-bottom: 1px solid #3c99f0;
    border-left: 4px solid #3c99f0;
    resize: none;
}

#form-details form button {
    padding: 0.8rem;
    border: none;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 24px;
}

#form-details form button:hover {
    color: #ffffff;
    background-color: #3c99f0;
    transition: ease-in-out;
    transition-duration: 300ms;
    transition-delay: 150ms;
    scale: 1.2;
}

footer {
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px;
}

.logo {
    font-size: 3rem;
    width: 10%;
    font-weight: 700;
    margin-right: auto;
}

.links {
    margin: 30px;
    margin-right: auto;
}

.links span {
    font-size: 22px;
    margin-bottom: 22px;
    font-weight: 700;
}

.links ul li {
    list-style: none;
    cursor: pointer;
    padding: 0px 8px;
    font-size: 1.2rem;
}

.links ul li:hover {
    color: #3c99f0;
    transition: 0.3s ease-in-out;
}

.social {
    justify-content: space-between;
    margin: 20px;
}

.social span {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.socialLinks a {
    margin: 12px;
    font-size: 30px;
    text-decoration: none;
    color: #222222;
    padding: 3px 10px;
    border: 3px solid #222222;
    border-radius: 50%;
}

.socialLinks a:hover {
    color: #ffffff;
    background-color: #3c99f0;
    transition: 0.2s ease-in-out;
}

.copy {
    width: 100%;
    font-weight: 700;
    font-size: 1.2rem;
    padding-top: 12px;
    border-top: 1px solid #222222;
}

@media (max-width: 1023px) {

    .topSection span {
        font-size: 3rem;
    }

    .topSection p {
        font-size: 1.3rem;
        line-height: 2rem;
    }

    #element {
        font-size: 3rem;
    }

    .secondSection {
        height: 300px;
    }

    .about {
        font-size: 1rem;

    }

    footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .logo {
        font-size: 4rem;
        margin-left: auto;
        width: 50%;
    }

    .links {

        margin: 30px;
        padding: 28px;

    }

    .links ul {
        justify-content: space-between;
        flex-direction: column;
    }

    .socialLinks {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

    }

    @media (max-width: 639px) {
        nav {
            flex-direction: column;
            height: 40vh;
        }

        .bottomSection {
            width: 40%;
        }

        .logo{
            font-size: 3rem;
        }
    }
}