@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 10px;
  background-color: #222222;
}
::-webkit-scrollbar-thumb {
  background-color: #3c99f0;
  border-radius: 22px;
  cursor: grab;
}
::-webkit-scrollbar-thumb:active {
  cursor: grabbing;
}

html{
  margin: 0;
  padding: 0;
  width: 100%;

}
body {
  min-width: 100%;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  cursor: default;
}

img {
  height: 100%;
  width: 100%;
}

/* ShortCLasses */

.bg-blue {
  background-color: #3c99f0;
}

.bg-black {
  background-color: #222222;
}

.bg-white {
  background-color: #ffffff;
}

.bg-red{
  background-color: #f81b1b;
}

.blue {
  color: #3c99f0 !important;
}

.black {
  color: #222222;
}
.white {
  color: #ffffff;
}
.red{
  color: #f81b1b;
}

.flex {
  display: flex;
}

.item-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.flex-col {
  flex-direction: column;
}

/*  */

nav {
  position: sticky;
  top: 0px;
  z-index: 20;
  justify-content: space-between;
  height: 80px;
  padding: 0px 30px;
  width: 100vw;
  background-color: #fff;
  box-shadow: 0px 2px 8px rgb(0, 0, 0, 0.3);
}

.mobile i {
  margin: 32px;
  font-size: 2rem;
  position: absolute;
  right: 0;
  top: 0;
  color: #222222;
  cursor: pointer;
  transition: color 200ms ease-in-out;
}
.mobile i:hover {
  color: #3c99f0;
}

.off-screen {
  position: fixed;
  right: -500px;
  top: 0;
  transition: right 0.3s ease;
  height: 280px;
  background-color: #ffffff;
  border-left: 1px solid #3c99f0;
  border-bottom: 1px solid #3c99f0;
  z-index: 1;
}
.off-screen ul {
  margin-top: 40px;
}

.hidden {
  display: none;
}

#close {
  position: absolute;
  color: #222222;
  right: 0;
  top: 0;
  padding: 0;
  margin-top: 12px;
  margin-right: 12px;
  font-size: 2.3rem;
  cursor: pointer;
  transition: all 0.23s;
}
#close:hover {
  color: #3c99f0;
  transform: rotate(90deg);
}

nav ul {
  list-style: none;
  font-size: 1.2rem;
}
nav ul a {
  cursor: default;
  text-decoration: none;
  color: #222222;
}
nav ul li{
  margin: 0px 0px 0px 20px;
}
nav ul  a  {
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.nav-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 165px;
  height: 60px;
  line-height: 40px;
  overflow: hidden;
  border: 2px solid #222222;
  border-radius: 44px;
  font-size: 18px;
  font-family: sans-serif;
  text-decoration: none;
  color: #222222;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all 0.4s;
}

.nav-btns span {
  position: relative;
  z-index: 2;
}

.nav-btns::after {
  border-radius: 44px;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  transition: all 0.4s;
  background: #3c99f0;
}
.contact-btn::after{
  background-color: #f81b1b;
}

.nav-btns:hover {
  color: #fff;
}

.nav-btns:hover::after {
  width: 100%;
}


.left {
  font-size: 40px;
  cursor: pointer;
}

.hero-section {
  width: 100%;
  max-width: 1600px;
  margin: 30px auto;
  padding: 100px 64px;
  justify-content: space-between;
  flex-direction: row;
}

.hero-top-section {
  width: 70%;
}

.hero-top-section span {
  font-size: 3rem;
  font-weight: 700;
}

.hero-top-section p {
  font-size: 1.5rem;
  line-height: 2rem;
}
#element {
  font-size: 38px;
  line-height: 42px;
}
.hero-bottom-section {
  height: 30%;
  width: 30%;
  margin: 1rem;
}

.hero-bottom-section img {
  animation: morph 8s ease-in-out infinite;
  position: relative;
  border: 5px solid #222222;
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  transition: all 1s ease-in-out;
}

@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
}

.tech-stack-section {
  width: 100%;
}
.tech-stack-section-wrapper{  
  width: 60%;
  padding:  64px;
  max-width: 1600px;
  margin: 0 auto;
}

.tech-stack-section h1 {
  font-size: 64px;
  line-height: 68px;
  font-weight: 700;
  text-align: center;
  text-decoration: underline;
  margin-bottom: 40px;
}
.tech-stack-section img{
  height: 60px;
  width: 60px;
  margin: 0px 10px;
  transition: transform 0.3s ease;
  cursor: pointer;
}
.tech-stack-section img:hover{
  transform: translateY(-10px);
}
.front-end{
  justify-content: space-between;  
}
.front-end h2,
.back-end h2{
  font-size: 34px;
  line-height: 38px;
  font-weight: 600;
}
.front-end-libraries{
  justify-content: space-between;
  margin: 10px 0px;
}
.front-end-libraries h3{
  font-size: 28px;
  line-height: 32px;
  font-weight: 600;
}
.back-end{
  justify-content: space-between;
}

.projects-section {
  width: 100%;
  max-width: 1600px;
  margin: 30px auto;
  padding: 100px 64px;
  text-align: center;
  
}
.projects-section h1 {
  font-size: 60px;
  line-height: 64px;
  font-weight: 700;
}
.projects-section span {
  font-size: 20px;
  line-height: 24px;
  margin: 20px 0px 0px 0px;
}
.projects-container {
  text-align: start;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto;
  gap: 1rem;
  margin-top: 4rem;
}
.projects a {
  text-decoration: none;
  font-weight: 600;
  color: #222222;
  padding: 2px;
  transition: color 0.2s ease-in-out;
}
.projects a:hover {
  color: #3c99f0;
}
.projects {
  display: flex;
  flex-direction: column;
  color: #222222;
  border: 1px solid #222222;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
  padding: 20px;
  border-radius: 12px;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
.coming-soon{
  border: 1px solid #222222;
  padding: 20px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  transition: box-shadow 0.3s ease-in-out;
}
.coming-soon:hover{
  box-shadow: none;
}

.projects::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
  transition: filter 0.3s ease-in-out;
  filter: blur(0px); /* Default, no blur */
}

.projects:first-child::before {
  background-image: url("../img/projectsBG/Power\ of\ Api\ screen\ shot.webp");
}
.projects:nth-child(2)::before {
  background-image: url("../img/projectsBG/Zirax\ screen\ shot.webp");
}
.projects:nth-child(3)::before {
  background-image: url("../img/projectsBG/Portfolio\ screen\ shot.webp");
}

.projects .details {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.projects:hover{
  box-shadow: none;

}
.projects:hover::before {
  filter: blur(5px); /* Apply blur on hover */
}

.projects:hover .details {
  opacity: 1; /* Show details on hover */
}

.projects span {
  font-size: 1.5rem;
  font-weight: 500;
}
.projects p {
  font-size: 1.1rem;
}
.technologies {
  display: flex;
  justify-content: flex-start;
}
.technologies img {
  height: 2rem;
  width: 2rem;
}

#form-details { 
  width: 100%;
  padding: 100px 64px;
}
.form-wrapper{
  width: 100%;
  max-width: 1600px;
  margin: 30px auto;
}

#form-details form {
  width: 70%;
  align-items: flex-start;
}

#form-details form h2 {
  font-size: 38px;
  line-height: 34px;
  font-weight: 600;
}

#form-details form h3 {
  font-size: 30px;
  line-height: 34px;
  padding: 20px 0;
}

#form-details form input,
#form-details form textarea {
  width: 100%;
  padding: 12px 15px;
  outline: none;
  margin-bottom: 1rem;
  border: none;
  border-bottom: 1px solid #3c99f0;
  border-left: 4px solid #3c99f0;
  resize: none;
}


.form-btn {
  color: #FFF;
  transition: all 0.3s;
  position: relative;
  border: none; 
  background-color: #222222; 
  padding: 10px 20px;
  width: 100px;
  cursor: pointer;
}
.form-btn span {
  transition: all 0.3s;
}
.form-btn::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 2px;
  border-bottom-width: 2px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: #3c99f0;
  border-bottom-color: #f81b1b;
  transform: scale(0.1, 1);
}
.form-btn:hover span {
  letter-spacing: 2px;
}
.form-btn:hover::before {
  opacity: 1;
  transform: scale(1, 1);
}
.form-btn::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
  background-color: rgba(255, 255, 255, 0.1);
}
.form-btn:hover::after {
  opacity: 0;
  transform: scale(0.1, 1);
}

footer {
  width: 100%;
  max-width: 1600px;
  padding: 100px 64px 0px 64px;
  margin: 0 auto;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo {
  font-size: 3rem;
  width: 10%;
  font-weight: 700;
  margin-right: auto;
}


.social {
  justify-content: space-between;
  margin: 20px;
}

.social span {
  font-size: 2rem;
  font-weight: 700;
}

.social-links a {
  margin: 12px;
  font-size: 30px;
  text-decoration: none;
  color: #222222;
  padding: 3px 10px;
  border: 3px solid #222222;
  border-radius: 50%;
  transition: 0.2s ease;
}

.social-links a:hover {
  color: #ffffff;
  background-color: #3c99f0;
}
.linked-in-icon:hover{
  color: #ffffff;
  background-color: #f81b1b !important;
}

.copy-right {
  width: 100%;
  font-weight: 700;
  font-size: 1.2rem;
  text-align: center;
  padding-top: 1rem;
  margin-bottom: auto;
  margin-left: auto;
  border-top: 1px solid #222222;
}

.spacer {
  aspect-ratio: 960/200;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (max-width: 1023px) {
  .hero-section {
    text-align: center;
    flex-direction: column;
  }
  .hero-top-section {
    width: 100%;
  }
  footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .logo {
    font-size: 4rem;
    margin-left: auto;
    width: 50%;
  }
  .social-links {
    flex-direction: column;
  }
}

@media (max-width: 800px) {
  .left {
    font-size: 2rem;
    position: absolute;
    left: 0;
    margin: 12px;
  }
  .list {
    display: none;
  }

  .mobile {
    display: block;
  }
  .mobile i {
    font-size: 25px;
  }

  .hero-bottom-section {
    width: 40%;
  }

  .tech-stack-section h1 {
    font-size: 24px;
    line-height: 28px;
  }

  
  .projects-container {
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto;
  }
  #form-details form {
    width: 100%;
  }

  .logo {
    font-size: 3rem;
  }
}

@media (max-width: 536px) {
  
}

@media (max-width: 466px) {
  .hero-top-section span {
    font-size: 1.8rem;
  }
  .hero-top-section p {
    font-size: 1.3rem;
    line-height: 1.6rem;
  }
  #element {
    font-size: 1.5rem;
  }
  .hero-bottom-section {
    width: 60%;
  }

  .projects-section {
    margin: 12px;
  }
  .projects-container {
    margin-top: 2rem;
  }
}

@media (max-width: 380px) {
  .left {
    font-size: 1.5rem;
  }
  .hero-top-section span {
    font-size: 1.6rem;
  }
  .hero-top-section p {
    font-size: 1rem;
    line-height: 1.2rem;
  }
  #element {
    font-size: 1.3rem;
  }
  .copy-right {
    font-size: 0.8rem;
  }
}
